

<h1>Order Successfully Updated!</h1>

<div >
    <a asp-action="Index">
        <button>Return to Menu</button>
    </a>
    <br />
    
    <a asp-action="Checkout">
        <button>Proceed to Checkout</button>
    </a>
</div>
<br />
